body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
    background: #f0fdf4;
}

.topbar {
    background: #065f46;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar button {
    background: #dc2626;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
}

.layout {
    display: flex;
}

.sidebar {
    width: 230px;
    background: #064e3b;
    padding: 20px;
}

.sidebar button {
    width: 100%;
    padding: 14px;
    margin-bottom: 10px;
    background: #047857;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar button:hover {
    background: #059669;
}

.main {
    flex: 1;
    padding: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}